.slider__bg--1 {
  background: rgba(0, 0, 0, 0) url("../../images/slider/bg/1.jpg") no-repeat scroll 0 0 / cover ;
}
.slider__bg--2 {
  background: rgba(0, 0, 0, 0) url("../../images/slider/bg/2.jpg") no-repeat scroll 0 0 / cover ;
}


.cr__btn a {
    background: #c43b68 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    line-height: 49px;
    padding: 0 36px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.cr__btn a:hover {
    background: #313131 none repeat scroll 0 0;
    color: #fff;
}
.slide__thumb {
    text-align: right;
}


.align-items__center{
    display: flex;
    justify-content: center;
}


.cd-headline.loading-bar .cd-words-wrapper::after {
  background: #4c8bf5 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease -0.1s;
  width: 0;
  z-index: 2;
}
.cd-headline.loading-bar span {
  display: inline-block;
  padding: 0;
}
.theme-color span.cd-words-wrapper b{
 color: #4c8bf5;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
  background: #4c8bf5 none repeat scroll 0 0;
}













/* Slider Activation */
.slider__activation__wrap .col-md-4 {
  width: 100% !important;
}
.arrow-down-long{
  position: relative;
}
.arrow-down-long:before {
    content: "";
    height: 90px;
    background: url(../../images/icons/arrow-down-long.png);
    width: 15px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
}

.slider__activation__wrap--5 .single-slide{
  padding-left: 20px;
  padding-right: 20px;
}
.slider__activation__wrap--5 .single-slide:focus{
  outline: none;
}
